.BasketCount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5em;
}

.BasketCount-qty {
  transition: all 0.3s linear;
  opacity: 1;
  position: absolute;
  font-size: var(--font-xs);
  font-weight: bold;
  color: var(--color-primary-light);
  top: -3px;
  left: 1.2em;
}

.BasketCount-qty.show {
  opacity: 1;
}
