.Login {
  color: var(--color-400);
}

.Login .form-text {
  color: var(--color-secondary);
  font-family: "Bodoni Moda", serif;
  font-size: var(--font-lg);
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.cart-checkbox {
  margin-top: 1rem;
}

.Login input:focus {
  box-shadow: 0 0 0 2px var(--color-100), 0 0 0 3px var(--color-secondary);
}

@media screen and (max-width: 700px) {
  .Login .img-container {
    display: none;
  }

  .Login .form-text {
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .Login .container > * {
    flex-basis: 100%;
  }
}
