.Store {
  height: var(--full-vh);
  overflow-y: auto;
}
.Store::-webkit-scrollbar {
  display: none;
}

/* .Store-container {
  color: var(--color-400);
  max-width: 1000px;
  margin-block: 2rem;
  margin-inline: auto;
  padding-inline: 5%;
  padding-block: 2rem;
} */

.products-section {
  background-color: whitesmoke;
  min-height: 100%;
}

.Store .products-container {
  padding: 0 5% 3rem;
  max-width: var(--width-lg);
  margin-inline: auto;
  grid-gap: 2.5rem;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-columns: repeat(3, 250px);
}

.Store .banner {
  color: var(--color-primary-light);
  text-align: center;
  padding: 1rem 5%;
  font-size: var(--font-xl);
  font-family: var(--font-stylish);
}

@media only screen and (max-width: 870px) {
  .Store .products-container {
    grid-template-columns: repeat(3, 200px);
  }
}
@media only screen and (max-width: 750px) {
  .Store .products-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media only screen and (max-width: 550px) {
  .Store .products-container {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
