.ProductBtnGroup {
  display: flex;
  align-items: center;
  width: fit-content;
}

.ProductBtnGroup button {
  padding: 0.5em 1.25em;
  transition: all 0.3s ease-in-out;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  cursor: pointer;
}

.ProductBtnGroup button:hover {
  background-color: var(--color-secondary);
  color: white;
}
.ProductBtnGroup button:disabled:hover {
  cursor: default;
}

.ProductBtnGroup .count {
  padding: 0.5em;
}
